{
  "presets": ["env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    [
        "import",
        {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
        }
    ]
]
}