{
  "presets": ["es2015", "stage-0", "env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-class-properties",
    [
        "import",
        {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
        }
    ]
 ]
}