
@import '~@scss/mixin.scss';

:local(.page-header){
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  transition: height .2s ease-in-out;
  .header {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 77px;
    justify-content: center;
    align-items: center;
    width: 1010px;
    padding: 0 40px;
    transition: height .2s ease-in-out;
    &.toggle {
      height: 52px;
    }
    // logo
    .logo-space {
      position: relative;
      flex: 1 9999 0%;
      height: 35px;
      .instagram {
        display: inline-block;
        height: 35px;
        width: 176px;
        min-width: 40px;
        color: #003569;
        text-decoration: none;
        transition: all .3s ease-in-out;
        @include sprite-2x( 0 -230px);
      }
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 32px;
        width: 32px;
        @include sprite-2x( 0 -230px);
      }
    
    }
    // 搜索框
    .search {
      position: relative;
      min-width: 125px;
      width: 215px;
      height: 28px;
      align-items: stretch;
      .search-content {
        height: 100%;
        width: 100%;
        .search-input {
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          background-color: white;
          border: solid 1px #dbdbdb;
          border-radius: 3px;
          color: #262626;
          outline: 0;
          padding: 3px 10px 3px 26px;
          z-index: 2;
          border: solid 1px #dbdbdb;
          &:placeholder-shown {
              font-size: 14px;
          }
        }
        .icon {
          position: absolute;
          left: 11px;
          top: 9px;
          z-index: 2;
          display: inline-block;
          height: 10px;
          width: 10px;
          @include sprite-2x( -135px -339px);
        }
        .close {
          z-index: 3;
          position: absolute;
          right: 5px;
          top: 4px;
          display: inline-block;
          height: 20px;
          width: 20px;
          transform: translate3d(0,0,0);
          @include sprite-2x( -472px -405px);
          &.active {
            @extend .rotate_icon;
          }
        }
      }
      .search-block {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        color: #999;
        cursor: text;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        background: #fafafa;
        border: solid 1px #dbdbdb;
        
        .block-icon {
          display: inline-block;
          height: 10px;
          width: 10px;
          text-align: center;
          vertical-align: baseline;
          margin-right: 6px;
          @include sprite-2x( -135px -339px);
        }
    
        .block-text {
          font-size: 14px;
          color: #999;
        }
      }
    }
    // 用户导航
    .navigate {
      display: flex;
      justify-content: flex-end;
      flex: 1 0 0%;
      a {
        display: inline-block;
        height: 24px;
        width: 24px;
        margin-left: 30px;
      }
      .explore {
        @include sprite-2x( -176px -399px);
      }
      .love {
        @include sprite-2x( -150px -425px);
      }
      .user {
        @include sprite-2x( -376px -399px);
      }
    }
  }
}
