@import '~@scss/mixin.scss';

:local(.signup){
    width: 350px;
    min-height: 320px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    border-radius: 3px;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 22px auto 12px;
        height: 51px;
        width: 100%;
        .instagram {
            display: inline-block;
            height: 51px;
            width: 175px;
            background-repeat: no-repeat;
            @include sprite-2x( 0 -98px);
        }
    }
    .form-input {
        position: relative;
        display: inline-block;
        margin: 0 auto 12px 0 !important;
        width: 267px;
        height: 37px;
        background: #fafafa;
        label {
            transition: all 0.3s;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 32px;
            z-index: 1;
            color: #c2c1c2;
        }
        input {
            display: inline-block;
            margin: 0 auto !important;
            width: 267px;
            height: 37px;
            background: #fafafa;
            text-indent: 0px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif
        }
        &.active {
            label {
                transform: scale(.83333) translateY(-10px);
                transform-origin: left;

            }
            input {
                font-size: 12px;
                padding: 14px 0 2px 31px!important;
            }
        }
    }
    .sigin-form {
        width: 267px;
        // height: 180px;
        margin: 0 auto;
        .ant-form-item {
            margin-bottom: 5px;
        }
        .register-form-forgot {
            float: right;
        }
        .register-form-button {
            width: 100%;
        }
    }
}