
:local(.recommend){
  width: 300px;
  // 贴附样式
  &.is-attach {
    position: fixed;
  }

  .header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 300px;
    padding-bottom: 10px;
    // border-bottom: 1px solid #efefef;
    .avatar {
      display: inline-block;
      height: 50px;
      width: 50px;
      overflow: hidden;
      border-radius: 50%;
      background-size: 100% 100%;
      background-color: #efefef;
      cursor: pointer;
    }
  }
  .user_abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    margin-left: 12px;
    .username {
      width: 140px;
      min-height: 10px;
      background: #efefef;
      line-height: 10px;
      color: #262626;
      font-weight: 600;
      font-size: 14px;
    }
    .abstract {
      width: 100px;
      min-height: 10px;
      margin-top: 10px;
      background: #efefef;
      font-size: 12px;
      line-height: 10px;
      white-space: nowrap;
      color: #999;
    }
  }
  .container {
    width: 300px;
    max-height: 350px;
    overflow: scroll;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 0 20px;
    margin:  10px 0 20px;
    background: #fff;
    .title {
      height: 46px;
      color: #999;
      font-size: 14px;
      font-weight: bold;
      line-height: 46px;
    }
    .notice {
      color: #c7c7c7;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 16px;
      margin-top: 4px;
      width: 100%;
    }
    .friend_photo {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        &:last-child{
          margin: 0;
        }
        .avatar {
          display: inline-block;
          height: 50px;
          width: 50px;
          background: #efefef;
          border-radius: 50%;
        }
      }
    }
  }
  .introduce {
    margin-top: 10px;
    font-size: 13px;
    line-height: 19px;
    color: #c9c9ca;
    .brand {
      margin-top: 22px;
    }
  }
}