
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
  background: #fafafa !important;
}
.page {
  height: 100%;
  width: 100%;
}
.page-container {
  background: #fafafa;
//   margin-top: 136px;
  padding-top: 136px;
}