
.close-circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('https://s10.mogucdn.com/mlcdn/c45406/181118_85i8g0chd2h4137b8i0cge61dc8b1_168x168.png');
    background-size: 100% 100%;
    cursor: pointer;
}