
.clear-bg {
  background: rgba(0,0,0,0) !important;
}

.hidden-vs {
    visibility: hidden;
}
.hidden {
    display: none;
}
.no-hidden {
    display: block;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.cl-float{
    zoom:1;
    &:after {
        content:"";
        display:block;
        clear:both;
        visibility:hidden;
        height:0
    }
}