html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
  background: #fafafa !important;
}
.page {
  height: 100%;
  width: 100%;
}
.page-container {
  background: #fafafa;
  /* margin-top: 136px; */
  padding-top: 136px;
}
