@import '~@scss/mixin.scss';
:local(.favorite-list) {
  margin-top: 44px;
  .favorite-nav {
    height: 53px;
    line-height: 53px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    li {
      display: inline-block;
      height: 100%;
      margin-right: 60px;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      .icon {
        font-weight: bold;
        font-size: 16px;
        color: rgba(0,0,0,0.8);
        margin-right: 6px;
      }

      &.active {
        border-top: 1px solid #000;
      }
    }
  }
  .favorite-container {
    // background: #fff;
    margin-top: 0;
    .descript {
      width: 100%;
      height: 285px;
      background-size: 100% 100%;

      .topic-list {
          padding: 0 10px;
          .topic {
              display: inline-block;
              margin-right: 25px;
              height: 293px;
              width: 293px;
              &:nth-child(3n) {
                margin-right: 0;
              }
          }
      }
      .no-more {
          padding-top: 60px;
          margin:0 auto 60px;
          width: 117px;
          height: 137px;
          display: flex;
          flex-direction: column;
          text-align: center;
          .no-more-icon {
              font-size: 60px;
              margin: 0 auto;
          }
          .notice {
              height: 40px;
              line-height: 40px;
              font-size: 23px;
          }
      }
    }
  }
}