:local(.favorite-list) {
  margin-top: 44px;
  .favorite-nav {
    height: 53px;
    line-height: 53px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    li {
      display: inline-block;
      height: 100%;
      margin-right: 60px;
      font-size: 12px;
      font-weight: bold;
      .icon {
        font-weight: bold;
        font-size: 16px;
        color: rgba(0,0,0,0.8);
        margin-right: 6px;
      }

      &.active {
        border-top: 1px solid #000;
      }
    }
  }
  .favorite-container {
    height: 380px;
    background: #fff;
    .descript {
      width: 385px;
      height: 385px;
      background-image: url('https://s10.mogucdn.com/mlcdn/c45406/180930_43j6dga2j511jh59e0hdaf6af2f2l_760x760.jpg');
      background-size: 100% 100%;
    }
  }
}