
@import '~@scss/mixin.scss';

:local(.comments-section){
    background: #fff;
    padding: 0 20px;

    // 点赞、评论按钮
    .opetions {
        height: 40px;
        margin: 0 auto;
        line-height: 40px;
        .fl-left {
            height: 100%;
        }
        .comments, .favorite, .collect {
            display: inline-block;
            margin: 8px;
            height: 24px;
            width: 24px;
            cursor: pointer;
        }
        .favorite {
            margin-left: 0;
            @include sprite-1x( 236px 211px,-125px -112px);
            &.active {
                @include sprite-1x( 236px 211px,-100px -112px);
            }
        }
        .comments {
            @include sprite-1x( 236px 211px,0 -187px);
        }
        .collect {
            @include sprite-1x( 236px 211px,-187px -25px);
            &.active {
                @include sprite-1x( 236px 211px,-125px -162px);
            }
        }
    }

    // 点赞数
    .dot-counts {
        height: 18px;
        margin-bottom: 10px;
    }

    // 评论列表
    .comments-list {
        width: 580px;
        .content {
            margin: 5px 0;
            .username {
                margin-right: 10px;
            }
        }
    }

    // 发表时间
    .release-time {
        
    }
}